.header-wrapper {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #a2a2a277;
}
.header {
	width: 90%;
	margin: auto;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 1.8rem;
	font-weight: 900;
	transition: all 0.5s ease;
	background: linear-gradient(to right, #93be3c, #19b130);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.logo:hover {
	transform: scale(1.1);
}
.nav-links {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.nav-links > a {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 1.2rem;
	height: 100%;
	padding: 0 30px;
}

.nav-links > a:hover {
	background: #393939ee;
}
.btns {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}
.btn-login {
	color: #fff;
	padding: 10px 25px;
	font-size: 1.1rem;
	cursor: pointer;
	border: 2px solid #393939;
	background: transparent;
	border-radius: 2px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn-login:hover {
	background: #393939ee;
}
