.footer-wrapper {
	height: 4rem;
	width: 100%;
	background: #a2a2a277;
	.footer {
		height: 100%;
		width: 90%;
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.3rem;
		h3 {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			a {
				span {
					color: var(--color-2);
	
				}
		
			}
		}
	}
}
