@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;

	color-scheme: light dark;
	background: #cecee2ad;
	color: #202020;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	
	--color-1: #ee4540;
	--color-2: #c72c41;
	--color-3: #801336;
	--color-4: #510a32;
	--color-5: #2d142c;
	--color-6: #f5f5f5;
	--color-7: #e1dee6;

}
*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}
